<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil de Usuario</h4>
        <h6 class="card-subtitle">Ajustes</h6>
        <form
          class="form p-t-20"
          [formGroup]="perfilForm"
          (ngSubmit)="update()"
        >
          <div class="form-group">
            <label for="exampleInputuname">User Name</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-user"></i></div>
              <input
                type="text"
                class="form-control"
                id="exampleInputuname"
                placeholder="Username"
                formControlName="name"
              />
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <div class="input-group">
              <div class="input-group-addon"><i class="ti-email"></i></div>
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                placeholder="Enter email"
                formControlName="email"
                [readOnly]="user.google"
              />
            </div>
          </div>

          <button
            type="submit"
            class="btn btn-success waves-effect btn-block waves-light m-r-10"
            [disabled]="perfilForm.invalid"
          >
            <i class="fa fa-save"></i>
            Guardar Cambios
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen del Usuario</h6>
        <div class="img_container text-center">
          <img
            *ngIf="!imgTemp"
            class="img-avatar"
            [src]="this.user.ImgUrl"
            alt="avatar"
          />
          <img
            *ngIf="imgTemp"
            class="img-avatar"
            [src]="this.imgTemp"
            alt="avatar"
          />
        </div>
        <input type="file" (change)="cambiarImagen($event)" />
        <br />
        <br />
        <button
          type="button"
          class="btn btn-success waves-effect btn-block waves-light m-r-10"
          [disabled]="!imgSubida"
          (click)="subirImagen()"
        >
          <i class="fa fa-save"></i>
          Cambiar Imagen
        </button>
      </div>
    </div>
  </div>
</div>
