<div
  class="fondo-modal animated fadeIn fast"
  [class.oculto]="this.modal.mostrarModal"
>
  <div
    class="modal fade show"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel1"
    style="display: block"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="exampleModalLabel1">Cargar Imagen</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            (click)="cerrarModal()"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h3>Seleccione una imagen</h3>
          <div class="img_container text-center">
            <img
              *ngIf="!imgTemp"
              class="img-avatar"
              [src]="this.modal.img"
              alt="avatar"
            />
            <img
              *ngIf="imgTemp"
              class="img-avatar"
              [src]="this.imgTemp"
              alt="avatar"
            />
          </div>
          <input type="file" (change)="cambiarImagen($event)" />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            (click)="cerrarModal()"
          >
            Cancelar
          </button>
          <button type="button" class="btn btn-primary" (click)="subirImagen()">
            Actualizar Foto
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
